*{
  margin: 0;
  padding: 0;
 
}

a {
  color: black;
  text-decoration: none;
}
.container{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, #9a9adc, #111a3e);
  color: white;
}
.container-navBar {
  height: 6rem;
}

.content{
  height: calc(100vh - 6rem);
}

