*{
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px
}
 
a {
  color: black;
  text-decoration: none;
  
}
.container{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, #7f7fba, #0e1532);
  color: black;
  overflow-y: scroll;
}
.container-navBar {
  height: 6rem;
}

.content{
  height: calc(100vh - 6rem);
}

